<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MJExtensionSimpleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B810A35520E60E6400E23156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B810A36D20E60E6500E23156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B810A37820E60E6600E23156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
